*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

}

.container{
    display: grid;
    gap: 0.2rem;
    grid-template-columns: 150px 900px 150px ;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
    "nav nav nav sidebar-right"
    "main main main sidebar-right"
    "main main main sidebar-right"
    "main main main sidebar-right"
    "footer footer footer footer"
    ;
    height: 110vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)),url(/mandalorian.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

nav{
    grid-area: nav;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    height: 600px;
}

.sidebar-left{
    grid-area: sidebar-left;
}

.sidebar-right{
    grid-area: sidebar-right;
}

.cont1{
    grid-area: cont1;
}

.footer{
    grid-area: footer;
    height: 100%;
}

.tittle{
    align-items: center;
}

.tittle h2{
    font-size: 120px;
    line-height: 160px;
    margin-left: 20px;
    color: #fff;
}

.tittle h4{
    font-size: 40px;
    font-weight: 500;
    margin-left: 20px;
    color: #fff;
}

.tittle .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 20px;
    justify-content: center;
}

.tittle a {
    color: #fff;
    text-decoration: none;
    padding: 15px 80px;
    margin-right:20px;
    border: 1px solid #fff;
}

#filled{
    background-color: #fff;
    color: black;
    padding: 15px 90px;
}

.quote{
    color: #fff;
    margin-left: 20px;
}

.sidebar-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    border-right: 2px solid #fff;
    border-right-style:ridge ;
}

.scroll{
    border-bottom: 2px solid #fff;
}

.side-tittle{
    font-size: 2rem;
    color: #fff;
    padding: 0px 20px;
    margin: 15px;
}

.burger{
    font-size: 2rem;
    color: #fff;
    padding: 0px 20px;
    margin: 15px;
    display: none;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    color: #fff;
}

.footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.footer ul li{
    margin-left: 15px;
}

.footer ul li a{
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

.sidebar-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.videos{
    margin: auto;
}

.button-box{
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}
.button-box #tickets{
    padding: 10px 60px;
    text-decoration: none;
    border: 1px solid #fff;
    color: #fff;
    margin-right: 10px;
}

.button-box #dots{
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    color: #fff;
}



@media only screen and (max-width: 600px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "nav"
        "main"
        "sidebar-right"
        "footer"
        ;
        height: 180vh;
    }

    nav{
        justify-content: center;
    }

    .tittle{
        display: flex;
        flex-direction: column;
    }

    .tittle h2{
        font-size: 60px;
    }
    
    .row{
        justify-content: center;
    }

    .row a{
        margin-top: 15px;
    }

    .sidebar-right{
        display: flex;
        flex-direction: column-reverse;
    }

    .videos{
        display: flex;
        flex-direction: column;
        text-align: center;
        float: unset;
    }

    .button-box{
        margin-bottom: 20px;
    }

    .footer{
        flex-direction: column;
        margin: 20px;
    }

    .footer ul{
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #rights{
        margin-bottom: 20px;
    }
  }

  @media only screen and (max-width: 550px){
    .tittle h2{
        font-size: 40px;
        height: 100px;
    }

    .tittle h4{
        font-size: 40px;
    }
  }